{{! Use the main layout }}
{{!< main }}
<section class="container-for-login">
<section class="login-register">
  <section class="login-area">
    <h2>Login with Google</h2>
    <form action="/auth/google" method="get">
      <button type="submit">Login with Google</button>
    </form>
  </section>
</section>
</section>
